    
    
<h3>App html</h3>
<h1> <button class="btn btn-primary" routerLink="./shoes"> Shoes </button> for shoes page </h1>

<button (click)="clickFunc()">Toggle</button>

<!-- <p [ngClass]="{'green': clickCondition,'blue': !clickCondition}">Hi, I am changing color</p> -->

<div *ngIf="!clickCondition">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi libero nesciunt sunt velit doloremque tempore repellat minima assumenda ipsum, architecto vitae consequatur officiis consectetur eos iste qui voluptates officia adipisci!
</div>
<button (click)="goTo()">Navigate</button>


<router-outlet></router-outlet>

